* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    border: none;
}

html {
    box-sizing: border-box;
}

body {
    font-family: Circular, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    display: flex;
    color: #484848;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}

span {
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    flex-grow: 1;
}

@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 992px) {
    body {
        max-width: 1920px;
        margin: 0 auto;
    }
}
